html {
	background: url("http://www.ztconnect.com/wallpapers/space-wallpaper2.jpg") no-repeat center center fixed;
	background-size: cover;
}

.plateau {
	position:relative;
	border: 2px solid #555;
}

.case {
	position : absolute;
	border-right:1px dotted #111;
	border-bottom:1px dotted #111;
}

.case:hover {
	background-color:black;
}

.a {
	background: url("https://www.colourbox.com/preview/11166070-abstract-seamless-moon-texture-6000x6000.jpg") no-repeat center center fixed;
	background-size: cover;
}

.v {
	background-color: red;
}

.v2 {
    background-color: blue;
}
